*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.score {
  color: rgb(224, 224, 224);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3em;
}
.score h2 {
  font-size: 30px;
}
.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.intro {
  color: rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5em;
  transition: opacity 0.5s ease;
}

.score .player-score h2{
  color: #1993EB
}

.score .computer-score h2{
  color: #E9304D;
}

.intro h1 {
  font-size: 50px;
}

.match button:hover{
  background:rgb(177, 125, 28);
  color: rgb(224, 224, 224);
}

.match {
  transition: opacity 0.5s ease 0.5s;
  margin-top: 5em;
}

/* Takes away the main screen*/
.inactive {
  opacity: 0;
  pointer-events: none;
  display: none;
}

/*Brings the game screen*/
.matchStart{
  display : block;
  opacity : 1;
  pointer-events : all;
}

.winner {
  color: rgb(224, 224, 224);
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.match button {
  width: 150px;
  height: 50px;
  border: none;
  color: rgb(177, 125, 28);
  font-size: 20px;
  background: rgb(224, 224, 224);
  border-radius: 10px;
  cursor: pointer;
}

.hands,
.moves {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moves{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.moves button{
  margin: 2em 2em;
}

.player-hand {
  transform: rotateY(180deg);
}


@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
}


/* I TOOK THIS FROM THIS SITE, ITS NOT MINE!
https://codepen.io/chriscoyier/embed/zrGvaq?height=281&theme-id=1&slug-hash=zrGvaq&default-tab=result&user=chriscoyier&name=cp_embed_11#result-box 

I love this effect ! :B*/

.intro button {
  margin-top: 10em;
  border: 5px solid transparent;
  background: #AED6D1;
  color: #55706D;
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 180px;
  -webkit-transition: all        1.2s,
  border     0.5s 1.2s,
  -webkit-box-shadow 0.3s 1.5s;
    transition: all        1.2s,
  border     0.5s 1.2s,
  -webkit-box-shadow 0.3s 1.5s;
    transition: all        1.2s,
  border     0.5s 1.2s,
  box-shadow 0.3s 1.5s;
    transition: all        1.2s,
  border     0.5s 1.2s,
  box-shadow 0.3s 1.5s,
  -webkit-box-shadow 0.3s 1.5s;
    white-space: nowrap;
    text-indent: 23px;
    font-weight: bold;
}

.intro button span {
  display: inline-block;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  font-weight: normal;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0.5s,
 -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s,
 -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s,
 transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s,
 transform 0.4s 0.5s,
 -webkit-transform 0.4s 0.5s;
}

.intro button:hover {
  text-indent: 0;
  background: #55706D;
  color: #FFE8A3;
  width: 300px;
  border: 10px solid #8DCCC4;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}

.intro button:hover span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
